---
layout: default
title: "Projects"
desc: "Stuff I've coded, written, or designed."
---

<div class="page projects">
	<div class="page-body">
		
		<h2 class="line-below">
			<div class="block">
				<a href="/">Andrew McGill</a>
				<span class="social">
					<a href="//twitter.com/andrewmcgill" target="blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
					<a href="//github.com/arm5077" target="blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
					<a href="mailto:arm5077@gmail.com"><i class="fa fa-envelope-square" aria-hidden="true"></i></a>
				</span>
			</div>
		</h2>

		<h1>{{ page.title }}</h1>
    <div class="dek">{{ page.desc }}</div>
    
    <div class="projects-preview-list">
      {% assign projects = site.projects | sort:"order" %}
      {% for project in projects %}
        <div class="projects-preview-list-item">
          <a href="#{{ project.order }}">
            {% if project.asset contains "mp4"%}
              <div class="video">
                <video src="{{ project.asset }}" muted loop autoplay></video>
              </div>
              {% else %}
              <div class="img" style="background-image: url('{{ project.asset }}')"></div>
            {% endif %}
            <div class="description">{{ project.description }}</div>
          </a>
        </div>
      {% endfor %}
    </div>
    
    {% for project in projects %}
      <div class="project-detail-item">
        <a name="{{project.order}}" class="anchor"></a>
        <a class="asset" href="{{ project.external_url }}" target="blank">
          {% if project.asset contains "mp4"%}
            <div class="video">
              <video src="{{ project.asset }}" muted loop autoplay></video>
            </div>
            {% else %}
            <div class="img" style="background-image: url('{{ project.asset }}')"></div>
          {% endif %}
        </a>
        <div class="project-detail-item-title">
          <a href="{{ project.external_url }}" target="blank">{{ project.title }}</a>
        </div>
        <div class="project-detail-item-description">{{ project.description }}</div>
        {{project.content | markdownify}}
      </div>
    {% endfor %}
    
  </div>
  
	<div class="footer">
		<div class="bio">
			<p>Hi. I'm <strong>Andrew McGill</strong>, a journalist and developer living in Washington, D.C.</p>
			<p>I work at <a href="http://www.theatlantic.com" target="blank">The Atlantic,</a> writing and coding for our politics team and the newsroom at large. Here's <a href="/assets/resume">where I've been before</a> and <a href="/projects" target="blank">what I'm doing now.</a></p>
		</div>
	</div>
  
</div>