<!doctype html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3293083-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-3293083-5');
  </script>
  
	<title>
		{% if page.desc %}
			{{ page.title }} | Andrew McGill
		{% else %} 
			Andrew McGill | journalist and developer
		{% endif %}
	</title>
		
	{% if page.desc %}
	<meta name="description" content="{{ page.desc }}" />
	{% else %}
	<meta name="description" content="I'm a journalist and web developer from Philadelphia who hopes to die happy." />
	{% endif %}


	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/syntax.css">
	<script src="https://use.fontawesome.com/42e13a9762.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
	
<body>
	<div class="content">
		{{ content }}
	</div>
</body>

</html>